[package]
name = "example"
publish = false
version.workspace = true
license.workspace = true
repository.workspace = true
edition.workspace = true

[dependencies]
bevy = "0.17.2"
js-sys = "0.3.82"
wasm-bindgen = "0.2.105"
bevy_web_file_drop = { path = ".." }
wasm-bindgen-futures = "0.4.55"
